body
{
	background: #eee;
}

h1,h2
{
	text-align: center;
	color: grey;
}

.container
{
	width: 1200px;
	height: 850px;
	margin: 50px auto;
	position: relative;
}
.containercl
{
	width: 1200px;
	height: 950px;
	margin: 50px auto;
	position: relative;
}
.box
{
	float: left;
	background: #fff;
	height: 250px;
	width: 250px;
	margin-left: 35px;
	margin-top: 10px;
}
.boxcl
{
	float: left;
	background: #fff;
	height: 220px;
	width: 300px;
	margin-top: 0px;
}
.box_pic
{
	height: 190px;
	
}


.box_text p
{
	text-align: center;
	font-size: 22px;

}
img
{
	padding: 10px 10px 15px;
	background: #fff;
	position: absolute;
	transition: 0.5s;
	z-index: 1;
}
.boxcl img:hover
{
	transform: rotate(0deg);
	transform: scale(1.25);
	box-shadow: 10px 10px 15px #ccc;
	z-index: 2;
}

img:hover
{
	transform: rotate(0deg);
	transform: scale(1.05);
	box-shadow: 10px 10px 15px #ccc;
	z-index: 2;
}

.pic1
{
	display: inline-block;
	
	transform: rotate(-15deg);
}

.pic2
{
	left: 350px;
	top: 30px;
	transform: rotate(-5deg);
}
.pic3
{
	left: 750px;
	top: 25px;
	transform: rotate(-15deg);
}
.pic4
{
	left: 1100px;
	top: 20px;
	transform: rotate(10deg);
}
.pic5
{
	left: 120px;
	top: 400px;
	transform: rotate(-5deg);
}

.pic6
{	
	display: inline-block;
	margin: 10px auto;
}
.pic7
{
	left: 890px;
	top: 450px;
	transform: rotate(5deg);
}
.pic8
{
	left: 1350px;
	top: 280px;
	transform: rotate(-5deg);
}
.pic9
{
	left: 1350px;
	top: 560px;
	transform: rotate(10deg);
}